/* ------------------- COLORS ------------------- */
/* Format reset */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700,900");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.gallery__img {
  width: 100%; }

.image__content {
  width: 100%; }

body {
  font-family: 'Raleway', 'Arial', 'Sans-serif';
  font-size: 1.7rem;
  text-decoration: none;
  overflow-x: hidden;
  line-height: 1.5;
  color: #262626; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.navigation__nav {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2.5;
  padding-bottom: 1.8rem; }

.text-white {
  color: #ffffff; }

.text-gray {
  color: #b9b9b9; }

.text-red {
  color: #ff2b58; }

.logo {
  font-family: 'Pacifico', 'Arial', 'Sans-serif'; }
  .logo--header {
    font-size: 5rem; }
  .logo--footer {
    font-size: 3rem; }

.navigation {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 9999;
  background-color: #ffffff; }
  .navigation__logo-container {
    position: relative;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 2; }
  .navigation__nav {
    /* navigation hidden*/
    position: fixed;
    text-align: center;
    background-color: #fff;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: .6s;
    /* navigation visible*/ }
    .navigation__nav--active {
      top: 10vh;
      opacity: 1; }
  .navigation__item:hover {
    color: #ff6033;
    cursor: pointer; }
  .navigation__icon {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    z-index: 3; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      display: flex;
      width: 3rem;
      height: 2px;
      background-color: #262626;
      transition: all .3s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
    .navigation__icon--active {
      height: 0; }
      .navigation__icon--active::before {
        top: 0;
        transform: rotate(-45deg); }
      .navigation__icon--active::after {
        top: 0;
        transform: rotate(45deg); }

.footer {
  background-color: #262626; }

.section-about {
  background-image: radial-gradient(#00c3c3, #00aeae); }

.section-services {
  background-color: #70bfff; }

.section-gallery {
  background-color: #ffe92f; }

.section-blog {
  background-color: #b07cf7; }
