/* ------------------- COLORS ------------------- */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700,900");
.scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 2rem;
  height: 4rem;
  top: 70%; }
  .scroll__icon {
    border: 1px solid #262626;
    border-radius: 40%; }
    .scroll__icon::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 10%;
      width: 2px;
      height: 20%;
      border-radius: 40%;
      background-color: #262626;
      opacity: 0;
      animation: scroll 2s infinite linear; }

@keyframes scroll {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.0001% {
    opacity: 0.5;
    top: 10%; }
  80% {
    opacity: 1;
    top: 40%; }
  100% {
    opacity: 0;
    top: 40%; } }

.btn, .btn:link, .btn:visited {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 1.5rem;
  transition: all .2s;
  position: relative;
  font-family: inherit;
  font-size: 1.8rem;
  box-shadow: 0 2px 10px 0 rgba(38, 38, 38, 0.2); }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(38, 38, 38, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(38, 38, 38, 0.5); }

.btn--header {
  width: 20rem;
  background-color: #ff6033; }

.btn--gallery {
  margin-top: 2rem;
  background-color: #5585a2;
  width: 20rem; }

.blog__post-img {
  width: 90%; }

.image {
  text-align: center;
  margin: 0 auto; }
  .image__content {
    width: 90%; }

/* Format reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.screen-only {
  opacity: 0; }

body {
  font-family: 'Raleway', 'Arial', 'Sans-serif';
  font-weight: 300;
  font-size: 1.4rem;
  text-decoration: none;
  overflow-x: hidden;
  line-height: 1.5;
  color: #262626; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.navigation__nav {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2.5;
  padding-bottom: 1.8rem; }

.text-white {
  color: #ffffff; }

.text-gray {
  color: #b9b9b9; }

.text-red {
  color: #ff2b58; }

.logo {
  font-family: 'Pacifico', 'Arial', 'Sans-serif'; }
  .logo--header {
    font-size: 5rem;
    line-height: 6rem; }
  .logo--footer {
    font-size: 3rem; }

.heading__primary {
  font-weight: 900;
  font-size: 5rem;
  padding-bottom: 1.6rem; }

.heading__secondary {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 1.6rem; }
  .heading__secondary--centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.heading__quaternary {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 1rem; }

.heading__subtext {
  padding: 0 0 2rem; }
  .heading__subtext--centered {
    text-align: center; }

.header {
  margin-top: 8vh;
  min-height: 92vh;
  background: url(../../img/hero.png) no-repeat top;
  position: relative; }
  .header__home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .header__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    position: relative; }

.navigation {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff; }
  .navigation__logo-container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 3%;
    z-index: 2;
    padding: 0; }
  .navigation__nav {
    /* navigation hidden*/
    position: fixed;
    text-align: center;
    background-color: #fff;
    padding-top: 5vh;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: .6s;
    /* navigation visible*/ }
    .navigation__nav--active {
      top: 6vh;
      opacity: 1; }
  .navigation__item:hover {
    color: #ff6033;
    cursor: pointer; }
  .navigation__icon-container {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 10%;
    transform: translateY(-50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: flex;
    width: 3rem;
    height: 2px;
    background-color: #262626;
    transition: all .3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon--active {
    height: 0; }
    .navigation__icon--active::before {
      top: 0;
      transform: rotate(-45deg); }
    .navigation__icon--active::after {
      top: 0;
      transform: rotate(45deg); }

.footer {
  background-color: #262626; }

.section-about {
  background-image: radial-gradient(#00c3c3, #00aeae);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem; }

.section-services {
  background-color: #70bfff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem; }

.services__list {
  position: relative;
  width: 90%;
  max-width: 40rem;
  margin: 0 auto; }

.services__wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-shadow: 0 1rem 2rem rgba(38, 38, 38, 0.3);
  margin-bottom: 1.6rem;
  text-align: center; }

.services__heading {
  flex-basis: 75%; }

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  border-left: 1px solid #262626;
  height: 7rem; }

.services__slider {
  margin: 0 1rem;
  display: none; }
  .services__slider--active {
    display: block; }

.section-gallery {
  background-color: #ffe92f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 4rem;
  text-align: center; }

.gallery__item {
  margin-bottom: 1rem; }

.gallery__img {
  display: block;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba(38, 38, 38, 0.3); }

.gallery__wrapper {
  visibility: hidden;
  height: 0; }
  .gallery__wrapper--active {
    visibility: visible;
    height: auto; }

.section-blog {
  background-color: #b07cf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem; }
