.header {
    margin-top: 8vh;
    min-height: 92vh;
    background: url(../../img/hero.png) no-repeat top;

    position: relative;

    &__home {
        @include absCenter;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
    }

}