.hero {
    margin-top: 8vh;
    min-height: 92vh;
    background: url(../../img/hero.png) no-repeat top;
    position: relative;

    &__container {
        @include absCenter;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

}