.navigation {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: $color-primary-light;

    &__logo-container {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 3%;
        z-index: 2;
        padding: 0;
    }

    &__nav {
        /* navigation hidden*/
        position: fixed;
        text-align: center;
        background-color: #fff;
        padding-top: 5vh;
        width: 100%;
        top: -100%;
        left: 0;
        z-index: 1;
        opacity: 1;
        transition: .6s;

        /* navigation visible*/
        &--active {
            top: 6vh;
            opacity: 1;
        }
    }

    &__item:hover {
        color: $color-header;
        cursor: pointer;
    }

    &__icon-container {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        display: block;
    }

    &__icon {

        &,
        &::before,
        &::after {
            display: flex;
            width: 3rem;
            height: 2px;
            background-color: $color-primary-dark;
            transition: all .3s;

            @include respond-to('medium-dev') {
                width: 4rem;
                height: 3px;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;

            @include respond-to('medium-dev') {
                top: -1rem;
            }
        }

        &::after {
            top: .8rem;

            @include respond-to('medium-dev') {
                top: 1rem;
            }
        }

        &--active {
            height: 0;

            &::before {
                top: 0;
                transform: rotate(-45deg);
            }

            &::after {
                top: 0;
                transform: rotate(45deg);
            }
        }


    }

}