@mixin xCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
$breakpoint argument choices:
smallest - device : 500px/16px = 31.25em,
small-device : 600px / 16px = 37.5em,
medium-device : 768px/16px = 48em,
big-device : 900px/16px = 56.25em,
bigger-device : 1024px/16px =  64em,
large-device : 1200px/16px = 75em,
xtra-large-device : 1600px/16px = 100em


*/

$breakpoints: ('smallest-dev' : 31.25em,
'small-dev': 37.5em,
'medium-dev': 48em,
'big-dev': 56.25em,
'bigger-dev': 64em,
'large-dev': 75em,
'xtra-large-dev': 100em);

@mixin respond-to($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}