/* ------------------- COLORS ------------------- */
// fonts
$color-primary-light: #ffffff;
$color-primary-dark: #262626;

$color-secondary-dark: #b9b9b9;
$color-of-love: #ff2b58;

// sections 
$color-section-about-first: #00c3c3;
$color-section-about-second: #00aeae;
$color-section-services: #70bfff;
$color-section-gallery: #ffe92f;
$color-section-blog:#b07cf7;

//buttons
$color-btn-header: #ff6033;
$color-btn-gallery: #5585a2;
$color-btn-subscribe: #96b92c;
$color-btn-blog: #f72b3b;


//forms
$color-contact: #00c4c4;