.scroll {
    @include xCenter;
    top: 90%;
    z-index: 10;
    width: 2.5rem;
    height: 4rem;
    border: 3px solid $color-primary-dark;
    border-radius: 40%;
    display: none;

    &::before {
        content: '';
        @include xCenter;
        display: block;
        top: 10%;
        width: 3px;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $color-primary-dark;
        animation: scroll 2s linear infinite;
    }

    @include respond-to('bigger-dev') {
        display: block;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;

    }

    20% {
        opacity: 0;
    }

    20.0001% {
        opacity: 0.5;
        top: 10%;
    }

    80% {
        opacity: 1;
        top: 40%;
    }

    100% {
        opacity: 0;
        top: 40%;
    }
}