@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700,900");

body {
    font-family: 'Raleway', 'Arial', 'Sans-serif';
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
    overflow-x: hidden;
    line-height: 1.5;
    color: $color-primary-dark;

    @include respond-to('medium-dev') {
        font-size: 1.7rem;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation__nav {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 2.5;
    padding-bottom: 1.8rem;

    @include respond-to('bigger-dev') {
        font-weight: 700;
    }

    @include respond-to('xtra-large-dev') {
        font-size: 2rem;
    }
}

.header {

    &__container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        position: relative;



        @include respond-to('small-dev') {
            width: 85%;
        }

        @include respond-to('medium-dev') {
            max-width: 57rem;
        }

    }

    &__subscribe {
        @include respond-to('medium-dev') {
            width: 70%;
            max-width: 57rem;
        }
    }

}

.text {
    &-white {
        color: $color-primary-light;
    }

    &-gray {
        color: $color-secondary-dark;
    }

    &-love {
        font-weight: 700;
        color: $color-of-love;
    }
}

.logo {
    font-family: 'Pacifico', 'Arial', 'Sans-serif';

    &--header {
        font-size: 5rem;
        line-height: 6rem;
    }

    &--footer {
        font-size: 3rem;
    }
}

.heading {
    &__primary {
        font-weight: 900;
        font-size: 5rem;
        padding-bottom: 1.6rem;

        @include respond-to('xtra-large-dev') {
            font-size: 6rem;
        }
    }

    &__secondary,
    &__tertiary {
        text-align: center;
        font-weight: 700;
        padding-bottom: 2rem;

        &--centered {
            @include absCenter;
        }

    }

    &__secondary {
        font-size: 4.5rem;

        @include respond-to('small-dev') {
            font-size: 5.5rem;
        }

        @include respond-to('medium-dev') {
            font-size: 6rem;
        }

        @include respond-to('bigger-dev') {
            font-size: 7rem;
        }

        @include respond-to('xtra-large-dev') {
            font-size: 9rem;
        }

    }

    &__tertiary {
        font-size: 3rem;

        @include respond-to('medium-dev') {
            font-size: 4rem;
            text-align: left;
        }
    }

    &__quaternary {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0 2rem;

        @include respond-to('medium-dev') {
            font-size: 2rem;
        }


        &--ct {
            text-transform: uppercase;
            color: $color-primary-light;
            text-shadow: 2px 2px 2px $color-primary-dark;

            @include respond-to('medium-dev') {
                color: $color-primary-dark;
                text-shadow: none;
            }
        }
    }


    &__subtext {
        padding: 0 0 3rem;

        &--about {
            text-align: center;

            @include respond-to('bigger-dev') {
                text-align: left;
                padding-right: 5rem;
            }
        }

        &--centered {
            text-align: center;
        }

        &--ct {
            color: $color-primary-light;
            font-size: 1.2rem;
            padding: 0.5rem 2rem;

            @include respond-to('medium-dev') {
                color: $color-primary-dark;
                font-size: 1.4rem;
            }
        }

    }
}


.blog {
    &__date {
        font-weight: 900;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;

        @include respond-to('smallest-dev') {
            font-size: 1.6rem;
        }

        @include respond-to('smallest-dev') {
            font-size: 2rem;
        }
    }

    &__author {
        padding: 1rem 2rem;
        font-size: 1.2rem;

        @include respond-to('medium-dev') {
            font-size: 1.4rem;
        }
    }
}

.ct-form {


    &__input,
    &__textarea {
        padding: 1.5rem 2rem;
        font-family: inherit;
        font-size: 1.2rem;

        &::placeholder {
            color: $color-primary-light;
        }

    }

}