// -------------SECTION ABOUT-------------
.section-about {
    background-image: radial-gradient($color-section-about-first, $color-section-about-second);
    @include flexCenter;
    padding: 2rem 0 4rem;

    @include respond-to('bigger-dev') {
        flex-direction: row;
        justify-content: space-around;
    }
}

.image {

    &__content {

        display: block;
        width: 90%;

        @include respond-to('bigger-dev') {
            width: 56rem;
        }
    }
}

// -------------SECTION SERVICES-------------

.section-services {
    background-color: $color-section-services;
    @include flexCenter;
    padding: 2rem 0 4rem;


    @include respond-to('bigger-dev') {
        flex-direction: row-reverse;
    }
}

.services {
    width: 90%;
    min-width: 20rem;


    &__image {
        text-align: center;
        margin: 2rem;
        width: 90%;

        &--content {
            width: 100%;

            @include respond-to('medium-dev') {
                max-width: 50rem;
            }

            @include respond-to('bigger-dev') {
                max-width: 46rem;
            }
        }
    }

    &__list {
        position: relative;
        margin: 0 auto;
        max-width: 50rem;
    }


    &__wrapper {
        background-color: $color-primary-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.3);
        margin-bottom: 1.6rem;
        text-align: center;
    }

    &__heading {
        flex-basis: 75%;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 25%;
        border-left: 1px solid $color-primary-dark;
        height: 7rem;
    }

    &__slider {
        margin: 0 1rem;
        display: none;

        &--active {
            display: block;
        }
    }
}


// -------------SECTION GALLERY-------------

.section-gallery {
    background-color: $color-section-gallery;
    @include flexCenter;
    padding: 5rem 0 10rem 0;
    text-align: center;
}

.gallery {

    @include respond-to('bigger-dev') {
        width: 70%;
        max-width: 100rem;
        display: grid;
        grid-template-rows: 16vh 16vh 12vh 12vh;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.5rem;
    }

    @include respond-to('large-dev') {
        width: 65%;
        max-width: 110rem;
        display: grid;
        grid-template-rows: 20vh 20vh 15vh 15vh;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.5rem;
    }

    @include respond-to('xtra-large-dev') {
        grid-template-rows: 25vh 25vh 20vh 20vh;
        grid-template-columns: repeat(6, 1fr);
    }

    &__item {
        margin-bottom: 1rem;

        @include respond-to('small-dev') {
            margin-bottom: 3rem;
        }

        @include respond-to('bigger-dev') {
            margin: 0;
        }

        &--1 {
            @include respond-to('bigger-dev') {
                grid-row: 1 / span 2;
                grid-column: 1 / span 4;
            }
        }

        &--2 {
            @include respond-to('bigger-dev') {
                grid-row: 1 / span 1;
                grid-column: 5 / span 2;
            }
        }

        &--3 {
            @include respond-to('bigger-dev') {
                grid-row: 2 / span 1;
                grid-column: 5 / span 2;
            }
        }

        &--4 {
            @include respond-to('bigger-dev') {
                grid-row: 3 / span 2;
                grid-column: 1 / span 3;
            }
        }

        &--5 {
            @include respond-to('bigger-dev') {
                grid-row: 3 / span 2;
                grid-column: 4 / span 3;
            }
        }

        &--6 {
            @include respond-to('bigger-dev') {
                float: left;
                width: calc((100% - 1.5rem) / 2);
                max-height: 25rem;
                margin-right: 1.5rem;
            }
        }

        &--7 {
            @include respond-to('bigger-dev') {
                float: left;
                width: calc((100% - 1.5rem) / 2);
                max-height: 25rem;
            }
        }
    }

    &__img {
        display: block;
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.3);

        @include respond-to('bigger-dev') {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: none;
        font-size: 0;

        @include respond-to('bigger-dev') {
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            width: 70%;
        }

        @include respond-to('large-dev') {
            width: 65%;
            max-width: 110rem;
            margin-bottom: 12rem;
        }

        &--active {
            display: block;
        }
    }
}


// -------------SECTION SUBSCRIBE-------------

.section-subscribe {

    padding: 6rem 4rem 4rem;
    background: url(../img/subscribe_bg.png) no-repeat center;
    background-size: cover;

    @include respond-to('bigger-dev') {
        padding: 10rem 5rem 6rem 5rem;
    }

    @include respond-to('large-dev') {
        padding: 10rem 5rem;
    }
}

.form {
    @include respond-to('medium-dev') {
        display: flex;
    }

    &__group {
        margin-top: 2rem;
        width: 100%;
        margin-right: 2rem;

        @include respond-to('medium-dev') {
            max-width: 57rem;
        }
    }

    &__input {
        width: 100%;
        display: block;
        font-size: inherit;
        color: inherit;
        padding: 1rem 1.5rem;
        border: 1px solid $color-primary-dark;
        height: 5.1rem;

    }

    &__label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    &__btn {
        margin-top: 2rem;
    }
}


// -------------SECTION BLOG-------------

.section-blog {
    background-color: $color-section-blog;
    @include flexCenter;
    padding: 6rem 0 4rem 0;
}

.blog {
    @include flexCenter;
    margin: 0 auto 2rem auto;
    width: 100%;

    @include respond-to('bigger-dev') {
        max-width: 110rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    @for $i from 1 through 3 {

        .blog__post:nth-child(#{$i}) {
            .blog__post-container {
                background-image: url(/img/blog_#{$i}.png);
            }
        }

    }

    &__post {
        width: 90%;
        height: 30rem;
        margin-bottom: 3rem;
        position: relative;

        &-img {
            width: 90%;
        }

        &-container {
            height: 100%;
            background: no-repeat center;
            background-size: cover;
            display: block;

        }

        @include respond-to('smallest-dev') {
            width: 80%;
            height: 35rem;
        }

        @include respond-to('medium-dev') {
            width: 60%;
            height: 40rem;
        }

        @include respond-to('bigger-dev') {
            flex-basis: 30%;
            max-width: 37rem;
            height: 31rem;

        }
    }

    &__title-container {
        position: absolute;
        bottom: 2rem;

    }

    &__date {
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-color: rgba($color-primary-dark, 0.4);
        border-radius: 5px;
        width: 4rem;
        height: 4rem;


        @include respond-to('smallest-dev') {
            top: 2.5rem;
            left: 2.5rem;
            width: 5rem;
            height: 5rem;
        }

        @include respond-to('smallest-dev') {
            top: 3rem;
            left: 3rem;
            width: 6rem;
            height: 6rem;
        }
    }
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .9) 90%);
}


// -------------SECTION CONTACT-------------

.section-contact {
    background: url(../img/contact.png) no-repeat top left;
    background-size: cover;
    @include flexCenter;
    padding: 6rem 0 4rem 0;
}

.ct {
    width: 90%;

    @include respond-to('medium-dev') {
        display: flex;
        width: 80%;
        justify-content: space-between;
    }

    &__form-container {
        text-align: center;

        @include respond-to('medium-dev') {
            flex-basis: 50%;
            max-width: 50rem;
        }
    }

    &-form {
        &__group {
            margin-bottom: 2rem;
            width: 100%;
        }

        &__input,
        &__textarea {
            width: 100%;
            background-color: rgba($color-contact, 0.4);
            border: 0;
            position: relative;

            &:focus {
                outline: none;
                background-color: $color-contact;
                border-left: 5px solid rgba($color-primary-dark, 0.5);
            }

        }

        &__textarea {
            resize: none;
        }

    }

    &__info {
        @include respond-to('medium-dev') {
            flex-basis: 40%;
        }
    }
}