.section-about {
    background-image: radial-gradient($color-section-about-first, $color-section-about-second);
}

.section-services {
    background-color: $color-section-services;
}

.section-gallery {
    background-color: $color-section-gallery;
}

.section-blog {
    background-color: $color-section-blog;
}